@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Public Sans", Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    /* Global Status Variables */
    --success: 157 46% 21%;
    --success-foreground: 132 75% 92%;
    --warning: 45 87% 18%;
    --warning-foreground: 47 100% 88%;
    --info: 220 40% 27%;
    --info-foreground: 204 100% 94%;
    --error: 0 38% 25%;
    --error-foreground: 5 100% 95%;
    --tip: 259 40% 32%;
    --tip-foreground: 266 100% 96%;
    /* Referral Status Variables */
    --received: 266 100% 96%;
    --received-foreground: 259 40% 32%;
    --accepted: 132 75% 92%;
    --accepted-foreground: 157 46% 21%;
    --declined: 5 100% 95%;
    --declined-foreground: 0 38% 25%;
    --in-progress: 204 100% 94%;
    --in-progress-foreground: 220 40% 27%;
    --ready: 24 43% 81%;
    --ready-foreground: 27 58% 21%;
    --pending: 47 100% 88%;
    --pending-foreground: 45 87% 18%;
    --collected: 332 100% 96%;
    --collected-foreground: 312 38% 24%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    /* Global Status Variables */
    --success: 160 77% 15%;
    --success-foreground: 158 82% 42%;
    --warning: 41 89% 18%;
    --warning-foreground: 42 92% 46%;
    --info: 214 91% 26%;
    --info-foreground: 221 97% 75%;
    --error: 356 81% 25%;
    --error-foreground: 1 98% 68%;
    --tip: 255 51% 35%;
    --tip-foreground: 261 96% 80%;
    /* Referral Status Variables */
    --received: 255 51% 35%;
    --received-foreground: 261 96% 80%;
    --accepted: 160 77% 15%;
    --accepted-foreground: 158 82% 42%;
    --declined: 356 81% 25%;
    --declined-foreground: 1 98% 68%;
    --in-progress: 214 91% 26%;
    --in-progress-foreground: 221 97% 75%;
    --ready: 21 84% 24%;
    --ready-foreground: 27 94% 60%;
    --pending: 41 89% 18%;
    --pending-foreground: 42 92% 46%;
    --collected: 335 79% 26%;
    --collected-foreground: 344 87% 74%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0;
  }

  h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
  }

  blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
  }

  code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
  }

  small {
    @apply text-sm text-muted-foreground font-medium leading-5;
  }
}
